<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Descubre una nueva manera de comunicarte!</h2>
                <p>Signs2Me est&aacute; disponible para tel&eacute;fonos Android. Desc&aacute;rgala ahora para empezar!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
