
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>Nosotros <i class="fa fa-heart"></i> conocer nuevos amigos</h2>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 Tema por <a rel="nofollow" target="blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a>. Hecho con&nbsp;<i class="fa fa-heart" style="color: red"></i> por <a target="_blank" href="http://www.wisewaresas.com">Wiseware S.A.S.</a>. Todos los derechos reservados.</p>
        <ul class="list-inline">
            <li>
                <a href="/privacy">Privacidad</a>
            </li>
        </ul>
        <br><br>
    </div>
</footer>
