<header>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Signs2Me es una app para comunicarte con las personas sordas.</h1>
                        <h4>Dispone de una colecci&oacute;n de videos de frases en Lengua de Se&ntilde;as Colombiana (LSC) y un teclado en se&ntilde;as para lograrlo.</h4>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Empieza gratis ya</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup galaxy_s5 portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
