<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Lo que opinan algunas personas sordas <i class="fa fa-smile-o"></i></h2>
                <p>"Nada para los sordos, sin los sordos"</p>
                <hr>
            </div>
        </div>
        <div id="testimony-carousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-caption">
                        <p>"Me siento conmovida, es la primera vez que nos podremos comunicar en nuestra propia lengua. Algunos no conocen nuestra lengua: mi papá, mi mamá y otros oyentes, y me pregunto ¿Cómo puedo comunicarme con ellos? Con esta aplicación las personas podrán aprender la lengua de señas"</p>
                        <h4>María Restrepo</h4>
                        <img src="/img/testimony-1.png" alt="Testimony 1">
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p>"Aunque no tengo celular, si tengo un computador, pero hay frases, palabras o expresiones que no entiendo, pero ahora que veo esta aplicación quedo muy sorprendida. Felicidades me encanta esta aplicación"</p>
                        <h4>Juliet Núñez</h4>
                        <img src="/img/testimony-2.png" alt="Testimony 2">
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p>"Me impresiona ver como se interesan por nuestra comunidad. Es muy importante que todos puedan aprender y relacionarse por medio de las señas. Yo sé que muchos utilizan Whatsapp, pero yo creo que lo que ustedes quieren hacer con este proyecto, va a lograr mucho impacto en la comunidad sorda"</p>
                        <h4>Arley Valencia</h4>
                        <img src="/img/testimony-3.png" alt="Testimony 3">
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p>"Muchísimas gracias, me encanta esta aplicación, con ella puedo comunicarme a través de la lengua de señas"</p>
                        <h4>Andrés</h4>
                        <img src="/img/testimony-4.png" alt="Testimony 4">
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <p>"Pienso que cuando chateamos sabemos algunas frases, pero lastimosamente tenemos que ser claros ya que nosotros no sabemos mucho el idioma español, pero ahora con esta nueva aplicación en lengua de señas, va a ser muy chévere comunicarnos a través del chat y los videos"</p>
                        <h4>Diana Sánchez</h4>
                        <img src="/img/testimony-5.png" alt="Testimony 5">
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#testimony-carousel" role="button" data-slide="prev" style="background-image: none;">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#testimony-carousel" role="button" data-slide="next" style="background-image: none;">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</section>
